*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    overflow-y: 100px;
}
:root{
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}
html{
    font-size: 62.5%;
    

}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.active{
    text-decoration: underline;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}
.header.sticky{
    color: #111;
    background: var(--bg-color);
    box-shadow: 0.1rem 1rem var(--shadow-color);
}

.logo{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}
.navbar a{
    position: relative;
    font-size: 2.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-right: 3.5rem;

}
.header.sticky.navbar a{
    color: var(--white-color);
}
.header.sticky .navbar a.active{
    color: var(--main-color);
}

.navbar a .active::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);

}
.header.sticky.navbar a::before{
    background: var(--main-color);
    opacity: .7;
}
body {
    background-color: #fff; /* Light mode background color */
    color: #000; /* Light mode text color */
  }
  
  #theme-toggle {
    background: #000; /* Dark mode background color */
     
    font-size: large;
    /* Dark mode text color */
  }
  
  .dark-mode header {
    background-color: #000;
    color: #fff;
  }
  .dark-mode header div{
      color: #fff;
  }
  
  .dark-mode button {
    background-color: #666;
  }
  
  .dark-mode section {
    background-color: #222;
    color: #fff;
  }
  
  .dark-mode .project {
    background-color: #333;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  }
  
  .dark-mode footer {
    background-color: #000;
  }
  
/*original----*/
#theme-toggle{
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
}
.header.sticky{
    background-color: #111;
}
.header.sticky .navbar a{
    color: #fff;
}
.header.sticky #theme-toggle{
    color: #fff;
    
    
}

/*--------home section design------*/
section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}
.home{
    display: flex;
    align-items: center;
}
.home .home-content{
    max-width: 44rem;
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;

}
.home-content p{
    font-size: 1.6rem;
}
.social-media {
    list-style: none;
    padding: 0;
    margin-top: 1em;
  }

  .social-media li {
    display: inline-block;
    margin-right: 10px;
  }

  .social-media a {
    display: inline-block;
    width: 30px;
    font-size: 25px;
    height: 30px;
    background-color:var(--main-color);
    color: #000;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    border: .2rem solid transparent;
    border-radius: 50%;
    transition: .5s ease;
  }
  .social-media a:hover{
      background: transparent;
      color: var(--main-color);
      border-color: var(--main-color);
  }

.btn{
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0.2rem .5rem var(--shadow-color);
    border: .2rem solid transparent;
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    margin-top: 2em;
}
.btn:hover{
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}
.home .profession-container{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    
    overflow: hidden;
    pointer-events: none;
}
.home .profession-container .profession-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;
    background: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .profession-box .profession{
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg / 2 * var(--i)));
    transform-origin: 384px;
    background: var(--bg-color);
    padding: 13px 0;
}
.home .profession-box .profession:nth-child(1) i{
    margin-right: 15px;
}
.home .profession-box .profession:nth-child(2) i{
    margin-right: 20px;
}
.home .profession i{
    font-size: 3.8rem;
}
.home .profession{
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
}
.home .profession-box .circle{
    width: 560px;
    height: 560px;
    background: transparent;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}
.home .profession-container .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 384px solid var(--main-color);
    border-left: 384px solid transparent;
}
.home-img img{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 70%;
    width: 25%;
    border-radius: 10px;
    pointer-events: none;
    margin-bottom: 5em;
    margin-right: 2em;
}
/*----------------about section------*/
span{
    color: var(--main-color);
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.about-img{
    width: 40vw;
}
.about-img img{
    width: 100%;
    height: 50%;
}
.heading{
    font-size: 4.5rem;
    text-align: center;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content h3{
    font-size: 2rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
/*-----services section----*/
.services{
    min-height: auto;
    padding-bottom: 7rem;
}
.services h2{
    margin-bottom: 5rem;
}
.services .services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.services-container .services-box{
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
}
.services-container .services-box:hover{
    box-shadow: 0.1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}
.services-box i{
    font-size: 7rem;
    color: var(--main-color);
}
.services-box h3{
    color: var(--text-color);
    font-size: 2.6rem;
    transition: .5s ease;
}
.services-box:hover h3{
    color: var(--main-color);
}
.services-box p{
    color: var(--text-color);
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}


/*-------portifolio design section----*/
.portifolio{
    width: 100%;
    padding-bottom: 10rem;
}
.portifolio h2{
    margin-bottom: 4rem;
}
.portifolio .portifolio-container{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
.portifolio-container .portifolio-box{
    position: relative;
    display: flex;
    flex: 30rem 1 30rem;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
    overflow: hidden;
}
.portifolio-box .portifolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    color: var(--white-color);
    opacity: 0;
    display: flex;
    padding: 1 4rem;
    transition: .5s ease;
}
.portifolio-box:hover .portifolio-layer{
    opacity: 1;
}
.portifolio-box h4{
    font-size: 2.6rem;
    
}

.portifolio-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
.portifolio-layer i{
    width: 5rem;
    font-size: 3.6rem;
    padding: 0 0 0 0;
}
.portifolio-layer a{
    display: inline-flex;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: var(--white-color);
    transition: .5s;
}
.portifolio-layer a:hover{
    color: var(--text-color);
}
.portifolio-box img{
    display: flex;
    width: 100%;
    transition: .5s ease;
}
.portifolio-box:hover img{
    transform: scale(1.1);
}
/*-----contact me sction design---*/

#contact {
    text-align: center;
    margin-top: 9em;
    
  }
  
  #contact h2 {
    font-size: 8em;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
    font-size: 5em;
  }
  
  label {
    display: block;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    border-radius: 18px;
  }
  
  /*button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }*/
  
/*--------media queries------*/
/*--mobile devices--*/
@media screen and (max-width:767px) {
    header{
        font-size: 25%;
    }
    section{
        font-size: 35%;
    }
}
    /*--tablet and small desktops---*/
    @media screen and (min-width:768px) and (max-width:991px){
        header{
            font-size: 45%;
        }
        section{
            font-size: 65%;
        }
    }
        /*--medium-sized and large desktops screens--*/
        @media screen and (min-width:992px){
            header{
                font-size: 85%;
            }
            section{
                font-size: 120%;
            }
        }    
    


